@import '../../../styles/variables.scss';

.wrapper {
    margin: 2.5rem 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    & .button {
        margin-left: 0.25rem;
        margin-right: 0.25rem;

        &--active {
            border-color: $color-accent;
            color: $color-accent;
        }
    }
}
